@charset "utf-8";

.mF7bhjEazRIogHSxJNdBzg\=\= { display: flex; flex-direction: row; overflow-x: scroll; border-radius: 12px; box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 15px 0px; margin: 0px 0px 1rem; }

.t02nXeqbP-2Gbv3mf\+qTRA\=\= { padding: 1rem; }