@charset "utf-8";

.MuiButtonBase-root { color: inherit; border-width: 0px; border-style: initial; border-color: initial; outline-color: initial; text-decoration-color: initial; background-color: transparent; -webkit-tap-highlight-color: transparent; }