@charset "utf-8";

@-webkit-keyframes animation-5f1q21 { 
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes animation-5f1q21 { 
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes animation-ibxp9g { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes animation-ibxp9g { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes animation-18ekmig { 
  0% { opacity: 0.3; transform: translate3d(0px, -30px, 0px); }
  100% { opacity: 1; }
}

@keyframes animation-18ekmig { 
  0% { opacity: 0.3; transform: translate3d(0px, -30px, 0px); }
  100% { opacity: 1; }
}

.css-evpx1l { visibility: hidden; position: absolute; width: 1px; height: 1px; overflow: hidden; }

.css-15ytky8 { display: flex; position: relative; overflow-x: hidden; }

.css-18ljn0d { display: flex; flex-flow: column; -webkit-box-flex: 1; flex-grow: 1; flex-shrink: 1; overflow-x: hidden; }

.css-niz55r > :last-child { overflow: visible; }

.css-wct8tc { display: flex; flex-flow: row; -webkit-box-flex: 1; flex-grow: 1; flex-shrink: 1; overflow-x: hidden; }

.css-1scfgzv { display: flex; flex-flow: row; -webkit-box-flex: 0; flex-grow: 0; flex-shrink: 1; overflow-x: hidden; }

.css-g7miak { display: flex; flex-flow: row; -webkit-box-flex: 1; flex-grow: 1; flex-shrink: 1; }

.css-kujd5y { position: relative; overflow-x: hidden; display: flex; flex-flow: row; -webkit-box-flex: 1; flex-grow: 1; flex-shrink: 1; }

.css-wicpu5 { display: flex; flex-flow: column; -webkit-box-flex: 0; flex-grow: 0; flex-shrink: 1; overflow-x: hidden; }

.css-g4hw9r { position: relative; display: flex; flex-flow: row; -webkit-box-flex: 1; flex-grow: 1; flex-shrink: 1; overflow-x: hidden; }

.css-s1ju4o { display: flex; flex-flow: column; -webkit-box-flex: 1; flex-grow: 1; flex-shrink: 1; }

.css-hi3528 { position: relative; overflow-x: hidden; display: flex; flex-flow: column; -webkit-box-flex: 1; flex-grow: 1; flex-shrink: 1; }

.css-1etz8zd { display: flex; flex-flow: column; -webkit-box-flex: 1; flex-grow: 1; flex-shrink: 0; }

.css-tzotgi { position: relative; overflow-x: hidden; display: flex; flex-flow: column; -webkit-box-flex: 1; flex-grow: 1; flex-shrink: 0; }

.css-1e3ixj { position: relative; display: flex; flex-flow: column; -webkit-box-flex: 1; flex-grow: 1; flex-shrink: 1; overflow-x: hidden; }

.css-2jz7lp > :first-of-type { min-width: 0px; overflow: visible; }

.css-awudjg { color: rgb(255, 255, 255); }

.css-1vu2yqv { position: static; }

.css-18j56zj { overflow: visible; flex: 1 0 auto; }

.css-166nji5 { overflow: visible; flex: 1 1 auto; display: flex; flex-flow: row; -webkit-box-flex: 1; }

.css-zafby2 > :first-child { overflow: visible; }

.css-1nsblyc { display: flex; flex-flow: row; -webkit-box-flex: 0; flex-grow: 0; flex-shrink: 1; }

.css-1x48jfr > :first-child { overflow: visible; }

.css-x79cgj { display: flex; flex-flow: column; -webkit-box-flex: 1; flex-grow: 1; flex-shrink: 1; }

.css-x79cgj > :first-child { overflow: visible; }

.css-xfv3gd > :first-child { min-width: 0px; overflow: visible; }

.css-hv1czr { display: flex; flex-flow: column; -webkit-box-flex: 0; flex-grow: 0; flex-shrink: 0; }

.css-45nt3q { display: flex; flex-flow: column; -webkit-box-flex: 0; flex-grow: 0; flex-shrink: 0; }

.css-45nt3q > :first-child { min-width: 0px; overflow: visible; }

.css-otb7kk > div { min-width: 0px; overflow: visible; }

.css-1wloy1u { display: flex; flex-flow: row; -webkit-box-flex: 1; flex-grow: 1; flex-shrink: 1; }

.css-1wloy1u > div { min-width: 0px; overflow: visible; }

.css-1urpgs2 { display: flex; flex-flow: row; -webkit-box-flex: 0; flex-grow: 0; flex-shrink: 0; }

.css-1ywpvqg { color: rgb(244, 244, 246); }