@charset "utf-8";

.VGdayHlIxxz-FevQRsRG8A\=\= .tRfErr9lh4dpcUqOJQurRQ\=\= { background-color: var(--darkreader-background-555555, #484e51); color: var(--darkreader-text-ffffff, #e8e6e3); }

.VGdayHlIxxz-FevQRsRG8A\=\= .tRfErr9lh4dpcUqOJQurRQ\=\=::after { border-top-color: var(--darkreader-border-555555, #70685c); border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent; }