@charset "utf-8";

.Dlxit\+QZX-TTgvIGuCn7Wg\=\= { margin: 0px 0px 1rem; border-radius: 5px; border: 0px solid rgba(255, 255, 255, 0); box-shadow: rgba(0, 0, 0, 0.314) 0px 5px 10px; }

.K\+OcWmYzU6IdDzl357fwlg\=\= { box-shadow: rgba(143, 136, 136, 0.314) -2px 2px 12px; margin: 0px 0px 1rem; border-radius: 5px; border: 0px solid rgba(255, 255, 255, 0); }

.pCl3nIDo2Q2iSsSKsgAABQ\=\= { padding: 1rem; background: var(--main-blue); color: var(--white); position: relative; display: flex; align-items: center; }

.uLqf6O4DKaX9PK-9jPG0QQ\=\= { padding: 1rem; }

.PfoZkC7KKMqjfI-RaETcPA\=\= { position: absolute; top: 50%; font-size: 2rem; right: 10px; transform: translateY(-50%); }

.OQWH43She7sgcs\+AR6ypSA\=\= { font-size: 2rem; margin-right: 1rem; }