@charset "utf-8";

.css-1q1cor0 { color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-ql39e { color: var(--darkreader-text-121c2d, #d4d1cb); }

.css-1afihv8 { background-image: none; border-width: initial; border-style: none; border-color: initial; outline-color: initial; text-decoration-color: initial; background-color: transparent; box-shadow: none; color: inherit !important; }

.css-1afihv8:hover { text-decoration-color: initial; color: var(--darkreader-text-030b5d, #cac5be); background-color: var(--darkreader-background-ebf4ff, #1e2021); box-shadow: var(--darkreader-background-030b5d, #030c69) 0px 0px 0px 1px; }

.css-1afihv8:focus { text-decoration-color: initial; box-shadow: var(--darkreader-background-0263e0b3, rgba(2, 82, 185, 0.7)) 0px 0px 0px 4px, var(--darkreader-background-8891aa, #495066) 0px 0px 0px 1px; color: var(--darkreader-text-030b5d, #cac5be); background-color: var(--darkreader-background-ebf4ff, #1e2021); }

.css-1afihv8:active, .css-1afihv8[data-active="true"] { text-decoration-color: initial; box-shadow: var(--darkreader-background-030b5d, #030c69) 0px 0px 0px 1px; color: var(--darkreader-text-030b5d, #cac5be); background-color: var(--darkreader-background-cce4ff, #262a2b); }

.css-1afihv8:focus-visible { border-top-color: var(--darkreader-border-8891aa, #4d5356); border-right-color: var(--darkreader-border-8891aa, #4d5356); border-bottom-color: var(--darkreader-border-8891aa, #4d5356); border-left-color: var(--darkreader-border-8891aa, #4d5356); background-color: var(--darkreader-background-394762, #35425b); }

.css-1afihv8:focus { background-color: transparent; }

.css-1afihv8:hover { background-color: var(--darkreader-background-8891aa, #495066); box-shadow: none; }

.css-cfzbzn { text-decoration-color: inherit; }

.css-zeqpzn { color: currentcolor; }

.css-19b4dk { background-color: var(--darkreader-background-ffffff, #181a1b); border-top-color: var(--darkreader-border-cacdd8, #3d4245); border-right-color: var(--darkreader-border-cacdd8, #3d4245); border-bottom-color: var(--darkreader-border-cacdd8, #3d4245); border-left-color: var(--darkreader-border-cacdd8, #3d4245); box-shadow: var(--darkreader-background-121c2d33, rgba(25, 40, 64, 0.2)) 0px 4px 16px 0px; }

.css-19b4dk:focus { outline-color: initial; }

.css-ja3ipl { color: var(--darkreader-text-121c2d, #d4d1cb); }

.css-1vco8kb { text-decoration-color: initial; }

.css-1kzjb37 { color: var(--darkreader-text-606b85, #a0988b); }

.css-x5puly { color: var(--darkreader-text-121c2d, #d4d1cb); }

.css-1n4qplb { color: var(--darkreader-text-121c2d, #d4d1cb); }

.css-1xssjck { background-image: none; background-color: initial; border-width: 0px; border-style: none; border-color: initial; outline-color: initial; text-decoration-color: initial; color: inherit; }

.css-1xssjck:hover { text-decoration-color: initial; }

.css-1xssjck:focus { text-decoration-color: initial; box-shadow: var(--darkreader-background-0263e0b3, rgba(2, 82, 185, 0.7)) 0px 0px 0px 4px; }

.css-1xssjck:active, .css-1xssjck[data-active="true"] { text-decoration-color: initial; box-shadow: none; }

.css-beroof { text-decoration-color: inherit; }

.css-vuifue { border-top-color: var(--darkreader-border-ffffff, #303436); border-right-color: var(--darkreader-border-ffffff, #303436); border-bottom-color: var(--darkreader-border-ffffff, #303436); border-left-color: var(--darkreader-border-ffffff, #303436); color: var(--darkreader-text-ffffff, #e8e6e3); }

.css-gn6875 { color: var(--darkreader-text-121c2d, #d4d1cb); }

.css-13vumu1 { background-image: none; background-color: initial; border-width: initial; border-style: none; border-color: initial; color: var(--darkreader-text-121c2d, #d4d1cb); outline-color: initial; text-decoration-color: initial; }

.css-13vumu1:focus { color: var(--darkreader-text-0263e0, #62b4fe); }

.css-13vumu1:disabled, .css-13vumu1:disabled:focus, .css-13vumu1:disabled:hover, .css-13vumu1[aria-disabled="true"], .css-13vumu1[aria-disabled="true"]:focus, .css-13vumu1[aria-disabled="true"]:hover { color: var(--darkreader-text-aeb2c1, #bbb5ac); }

.css-nqw6ee { color: var(--darkreader-text-121c2d, #d4d1cb); }

.css-1l9wp2l { color: var(--darkreader-text-121c2d, #d4d1cb); }

.css-bskseo { background-image: inherit; background-color: inherit; border-width: initial; border-style: none; border-color: initial; outline-color: initial; }

.css-bskseo:focus-visible { box-shadow: var(--darkreader-background-0263e0b3, rgba(2, 82, 185, 0.7)) 0px 0px 0px 4px; }

.css-1jepj9x { color: var(--darkreader-text-ffffff, #e8e6e3); }

.css-b7xdpu { background-color: var(--darkreader-background-ffffff, #181a1b); border-top-color: var(--darkreader-border-e1e3ea, #373c3e); border-right-color: var(--darkreader-border-e1e3ea, #373c3e); border-bottom-color: var(--darkreader-border-e1e3ea, #373c3e); border-left-color: var(--darkreader-border-e1e3ea, #373c3e); box-shadow: var(--darkreader-background-121c2d1a, rgba(25, 40, 64, 0.1)) 0px 2px 8px 0px; }

.css-b7xdpu:focus { outline-color: initial; }

.css-1xcgclj { background-image: none; background-color: initial; border-width: 0px; border-style: none; border-color: initial; outline-color: initial; text-decoration-color: initial; color: var(--darkreader-text-606b85, #a0988b); }

.css-1xcgclj:hover { text-decoration-color: initial; color: var(--darkreader-text-121c2d, #d4d1cb); }

.css-1xcgclj:focus { text-decoration-color: initial; box-shadow: var(--darkreader-background-0263e0b3, rgba(2, 82, 185, 0.7)) 0px 0px 0px 4px; color: var(--darkreader-text-121c2d, #d4d1cb); }

.css-1xcgclj:active, .css-1xcgclj[data-active="true"] { text-decoration-color: initial; box-shadow: none; color: var(--darkreader-text-121c2d, #d4d1cb); }

.css-oxge8y { color: currentcolor; }

.css-1cbdvo6 { border-width: initial; border-style: none; border-color: initial; }

.css-1xr43yq { border-top-color: var(--darkreader-border-cacdd8, #3d4245); border-right-color: var(--darkreader-border-cacdd8, #3d4245); border-bottom-color: var(--darkreader-border-cacdd8, #3d4245); border-left-color: var(--darkreader-border-cacdd8, #3d4245); }

.css-vfh0qp { background-image: none; background-color: initial; border-width: 0px; border-style: none; border-color: initial; outline-color: initial; text-decoration-color: initial; color: var(--darkreader-text-0263e0, #62b4fe); }

.css-vfh0qp:hover { text-decoration-color: initial; color: var(--darkreader-text-030b5d, #cac5be); }

.css-vfh0qp:focus { text-decoration-color: initial; box-shadow: var(--darkreader-background-0263e0b3, rgba(2, 82, 185, 0.7)) 0px 0px 0px 4px; color: var(--darkreader-text-030b5d, #cac5be); }

.css-vfh0qp:active, .css-vfh0qp[data-active="true"] { text-decoration-color: initial; box-shadow: none; color: var(--darkreader-text-06033a, #d5d1cc); }

.css-dauu7m { color: var(--darkreader-text-8d3118, #e78a71); }

.css-1onn7bo { color: var(--darkreader-text-8d3118, #e78a71); }

.css-e9xkld { background-image: none; border-width: initial; border-style: none; border-color: initial; outline-color: initial; text-decoration-color: initial; background-color: transparent; box-shadow: none; color: inherit !important; }

.css-e9xkld:hover { text-decoration-color: initial; color: var(--darkreader-text-ebf4ff, #bee1ff); background-color: var(--darkreader-background-121c2d, #192840); box-shadow: var(--darkreader-background-cce4ff, #262a2b) 0px 0px 0px 1px; }

.css-e9xkld:focus { text-decoration-color: initial; box-shadow: var(--darkreader-background-606b85, #4f586e) 0px 0px 0px 4px, var(--darkreader-background-606b85, #4f586e) 0px 0px 0px 1px; color: var(--darkreader-text-ebf4ff, #bee1ff); background-color: var(--darkreader-background-121c2d, #192840); }

.css-e9xkld:active, .css-e9xkld[data-active="true"] { text-decoration-color: initial; box-shadow: var(--darkreader-background-cce4ff, #262a2b) 0px 0px 0px 1px; color: var(--darkreader-text-ebf4ff, #bee1ff); background-color: var(--darkreader-background-1f304c, #213452); }

.css-e9xkld:focus-visible { border-top-color: var(--darkreader-border-8891aa, #4d5356); border-right-color: var(--darkreader-border-8891aa, #4d5356); border-bottom-color: var(--darkreader-border-8891aa, #4d5356); border-left-color: var(--darkreader-border-8891aa, #4d5356); background-color: var(--darkreader-background-394762, #35425b); }

.css-e9xkld:focus { background-color: transparent; }

.css-e9xkld:hover { background-color: var(--darkreader-background-606b85, #4f586e); box-shadow: none; }

.css-1w25j6n { background-color: var(--darkreader-background-0d131c, #182334); border-top-color: var(--darkreader-border-394762, #4d6084); border-right-color: var(--darkreader-border-394762, #4d6084); border-bottom-color: var(--darkreader-border-394762, #4d6084); border-left-color: var(--darkreader-border-394762, #4d6084); box-shadow: var(--darkreader-background-00000080, rgba(24, 26, 27, 0.5)) 0px 4px 16px 0px; }

.css-1w25j6n:focus { outline-color: initial; }

.css-lfwa5q { color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-1p9dz9n { color: var(--darkreader-text-8891aa, #a8a095); }

.css-2bu8zg { color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-1yshz1i { color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-fvceai { background-image: none; background-color: initial; border-width: 0px; border-style: none; border-color: initial; outline-color: initial; text-decoration-color: initial; color: inherit; }

.css-fvceai:hover { text-decoration-color: initial; }

.css-fvceai:focus { text-decoration-color: initial; box-shadow: var(--darkreader-background-606b85, #4f586e) 0px 0px 0px 4px; }

.css-fvceai:active, .css-fvceai[data-active="true"] { text-decoration-color: initial; box-shadow: none; }

.css-251b4j { color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-1bey7ld { background-image: none; background-color: initial; border-width: initial; border-style: none; border-color: initial; color: var(--darkreader-text-f4f4f6, #e2dfdb); outline-color: initial; text-decoration-color: initial; }

.css-1bey7ld:focus { color: var(--darkreader-text-008cff, #50b4ff); }

.css-1bey7ld:disabled, .css-1bey7ld:disabled:focus, .css-1bey7ld:disabled:hover, .css-1bey7ld[aria-disabled="true"], .css-1bey7ld[aria-disabled="true"]:focus, .css-1bey7ld[aria-disabled="true"]:hover { color: var(--darkreader-text-394762, #bac8d7); }

.css-ov9x5a { color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-s3lb3j { background-image: none; background-color: initial; border-width: initial; border-style: none; border-color: initial; color: var(--darkreader-text-f4f4f6, #e2dfdb); outline-color: initial; text-decoration-color: initial; }

.css-s3lb3j:focus { color: var(--darkreader-text-008cff, #50b4ff); }

.css-s3lb3j:disabled, .css-s3lb3j:disabled:focus, .css-s3lb3j:disabled:hover, .css-s3lb3j[aria-disabled="true"], .css-s3lb3j[aria-disabled="true"]:focus, .css-s3lb3j[aria-disabled="true"]:hover { color: var(--darkreader-text-394762, #bac8d7); }

.css-196d1gm { color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-15j0ub7 { background-image: inherit; background-color: inherit; border-width: initial; border-style: none; border-color: initial; outline-color: initial; }

.css-15j0ub7:focus-visible { box-shadow: var(--darkreader-background-606b85, #4f586e) 0px 0px 0px 4px; }

.css-1jqo1fi { background-color: var(--darkreader-background-0d131c, #182334); border-top-color: var(--darkreader-border-1f304c, #41649e); border-right-color: var(--darkreader-border-1f304c, #41649e); border-bottom-color: var(--darkreader-border-1f304c, #41649e); border-left-color: var(--darkreader-border-1f304c, #41649e); box-shadow: var(--darkreader-background-00000066, rgba(24, 26, 27, 0.4)) 0px 2px 4px 0px; }

.css-1jqo1fi:focus { outline-color: initial; }

.css-sdno77 { background-image: none; background-color: initial; border-width: 0px; border-style: none; border-color: initial; outline-color: initial; text-decoration-color: initial; color: var(--darkreader-text-8891aa, #a8a095); }

.css-sdno77:hover { text-decoration-color: initial; color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-sdno77:focus { text-decoration-color: initial; box-shadow: var(--darkreader-background-606b85, #4f586e) 0px 0px 0px 4px; color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-sdno77:active, .css-sdno77[data-active="true"] { text-decoration-color: initial; box-shadow: none; color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-w54h8d { border-top-color: var(--darkreader-border-394762, #4d6084); border-right-color: var(--darkreader-border-394762, #4d6084); border-bottom-color: var(--darkreader-border-394762, #4d6084); border-left-color: var(--darkreader-border-394762, #4d6084); }

.css-1ovz2lk { background-image: none; background-color: initial; border-width: 0px; border-style: none; border-color: initial; outline-color: initial; text-decoration-color: initial; color: var(--darkreader-text-008cff, #50b4ff); }

.css-1ovz2lk:hover { text-decoration-color: initial; color: var(--darkreader-text-ebf4ff, #bee1ff); }

.css-1ovz2lk:focus { text-decoration-color: initial; box-shadow: var(--darkreader-background-606b85, #4f586e) 0px 0px 0px 4px; color: var(--darkreader-text-ebf4ff, #bee1ff); }

.css-1ovz2lk:active, .css-1ovz2lk[data-active="true"] { text-decoration-color: initial; box-shadow: none; color: var(--darkreader-text-ffffff, #e8e6e3); }

.css-1l50l6r { color: var(--darkreader-text-ffb37a, #ffad6f); }

.css-16tkd9q { color: var(--darkreader-text-ffb37a, #ffad6f); }

.css-1dg0ftn { background-image: none; background-color: initial; border-width: initial; border-style: none; border-color: initial; color: var(--darkreader-text-f4f4f6, #e2dfdb); outline-color: initial; text-decoration-color: initial; }

.css-1dg0ftn:focus { color: var(--darkreader-text-008cff, #50b4ff); }

.css-1dg0ftn:disabled, .css-1dg0ftn:disabled:focus, .css-1dg0ftn:disabled:hover, .css-1dg0ftn[aria-disabled="true"], .css-1dg0ftn[aria-disabled="true"]:focus, .css-1dg0ftn[aria-disabled="true"]:hover { color: var(--darkreader-text-394762, #bac8d7); }

.css-hgwhdo { color: var(--darkreader-text-008cff, #50b4ff); }

.css-2wvjb5 { background-image: none; background-color: initial; border-width: initial; border-style: none; border-color: initial; color: var(--darkreader-text-f4f4f6, #e2dfdb); outline-color: initial; text-decoration-color: initial; }

.css-2wvjb5:focus { color: var(--darkreader-text-008cff, #50b4ff); }

.css-2wvjb5:disabled, .css-2wvjb5:disabled:focus, .css-2wvjb5:disabled:hover, .css-2wvjb5[aria-disabled="true"], .css-2wvjb5[aria-disabled="true"]:focus, .css-2wvjb5[aria-disabled="true"]:hover { color: var(--darkreader-text-394762, #bac8d7); }

.css-4dfgn4 { background-color: var(--darkreader-background-121c2d, #192840); border-top-color: var(--darkreader-border-394762, #4d6084); border-right-color: var(--darkreader-border-394762, #4d6084); border-bottom-color: var(--darkreader-border-394762, #4d6084); border-left-color: var(--darkreader-border-394762, #4d6084); box-shadow: var(--darkreader-background-00000080, rgba(24, 26, 27, 0.5)) 0px 4px 16px 0px; }

.css-4dfgn4:focus { outline-color: initial; }

.css-g9v2ra { color: var(--darkreader-text-ffffff, #e8e6e3); }