@charset "utf-8";

.\+BScSF76TJc2edLNzoobcQ\=\= { color: var(--darkreader-text-212b36, #cdc8c2); }

._93zLt3tnbnlwO\+Afhi94Pg\=\= { color: var(--darkreader-text-495c6f, #aea79c); }

.VeNJ7Pnlyyyil5zl5g-RCg\=\= { border-bottom-color: var(--darkreader-border-0000ff, #0000b3); }

.UneGpU61jb0wEuUD5mq\+Bg\=\= { list-style-image: initial; }