@charset "utf-8";

.\+BScSF76TJc2edLNzoobcQ\=\= { font-size: 12px; line-height: 1.6; margin-top: 6px; margin-bottom: 0px; color: rgb(33, 43, 54); text-transform: capitalize; font-family: Nunito, sans-serif; font-weight: bold; }

._93zLt3tnbnlwO\+Afhi94Pg\=\= { font-size: 10px; margin: 0px; padding: 0rem 1.2rem; text-transform: capitalize; color: rgb(73, 92, 111); }

.oHzmyefEH8Xbkgf-HinZ9Q\=\= { width: 22rem; }

.ZKEcT1j1QfHqqbIXq\+UwjQ\=\= { display: flex; justify-content: space-between; }

.VeNJ7Pnlyyyil5zl5g-RCg\=\= { border-bottom: 1px solid blue; padding-bottom: 0.5rem; }

.c15zmv0-zyacP1QZ11Tukw\=\= { list-style-type: none; columns: 2; }

.UneGpU61jb0wEuUD5mq\+Bg\=\= { list-style: none; display: inline-block; width: 100%; }

._88VmT\+QSvNLy8uqc4R0GYg\=\= { position: relative; }

.f1\+iK4yrNESbelTx4zPMpA\=\= { position: absolute; bottom: 1rem; right: 1rem; display: flex; flex-direction: column; justify-content: center; align-items: center; font-size: 1rem; }