@charset "utf-8";

.css-1cu6t68 { background-color: var(--darkreader-background-0d131c, #182334); color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-13v0vc8::before { border-top-color: var(--darkreader-border-394762, #4d6084); border-right-color: var(--darkreader-border-394762, #4d6084); border-bottom-color: var(--darkreader-border-394762, #4d6084); border-left-color: var(--darkreader-border-394762, #4d6084); }

.css-13v0vc8::after { border-top-color: var(--darkreader-border-0263e0, #0252ba); border-right-color: transparent; border-bottom-color: transparent; border-left-color: var(--darkreader-border-0263e0, #0252ba); }

.css-p4wb1h { background-image: initial; background-color: var(--darkreader-background-06033a, #090453); color: var(--darkreader-text-ffffff, #e8e6e3); }

.css-9dke4t { background-image: initial; background-color: var(--darkreader-background-06033a, #090453); }

.css-9dke4t:hover .Twilio-Badge-OuterCircle { background-image: initial; background-color: var(--darkreader-background-06033a, #090453); }

.css-yojhxt:hover { background-color: var(--darkreader-background-8891aa, #495066); }

.css-yojhxt:focus-visible { border-top-color: var(--darkreader-border-8891aa, #4d5356); border-right-color: var(--darkreader-border-8891aa, #4d5356); border-bottom-color: var(--darkreader-border-8891aa, #4d5356); border-left-color: var(--darkreader-border-8891aa, #4d5356); background-color: var(--darkreader-background-394762, #35425b); }

.css-1sf9a8 button:first-of-type:focus { box-shadow: none; }

.css-p0c9al { color: var(--darkreader-text-121c2d, #d4d1cb); }

.css-kqo72a:hover { background-color: var(--darkreader-background-8891aa, #495066); }

.css-kqo72a:focus-visible { border-top-color: var(--darkreader-border-8891aa, #4d5356); border-right-color: var(--darkreader-border-8891aa, #4d5356); border-bottom-color: var(--darkreader-border-8891aa, #4d5356); border-left-color: var(--darkreader-border-8891aa, #4d5356); background-color: var(--darkreader-background-394762, #35425b); }

.css-bb8b0b { background-color: var(--darkreader-background-008000, #008000); }

.css-1d3dmrj { background-image: initial; background-color: var(--darkreader-background-ffffff, #181a1b); color: var(--darkreader-text-121c2d, #d4d1cb); border-top-color: var(--darkreader-border-cacdd8, #3d4245); border-right-color: var(--darkreader-border-cacdd8, #3d4245); border-bottom-color: var(--darkreader-border-cacdd8, #3d4245); border-left-color: var(--darkreader-border-cacdd8, #3d4245); }

.css-1e840c0 { background-image: initial; background-color: var(--darkreader-background-ffffff, #181a1b); color: var(--darkreader-text-121c2d, #d4d1cb); border-top-color: var(--darkreader-border-cacdd8, #3d4245); border-right-color: var(--darkreader-border-cacdd8, #3d4245); border-bottom-color: var(--darkreader-border-cacdd8, #3d4245); border-left-color: var(--darkreader-border-cacdd8, #3d4245); }

.css-z2tk3m { outline-color: initial; }

.css-4lys6a { background-image: initial; background-color: var(--darkreader-background-304582, #2b3d73); border-top-color: var(--darkreader-border-cacdd8, #3d4245); border-right-color: var(--darkreader-border-cacdd8, #3d4245); border-bottom-color: var(--darkreader-border-cacdd8, #3d4245); border-left-color: var(--darkreader-border-cacdd8, #3d4245); }

.css-16gz79l { outline-color: initial; background-image: inherit; background-color: inherit; color: var(--darkreader-text-ffffff, #e8e6e3); }

.css-16gz79l:focus-visible { outline-color: var(--darkreader-border-0263e0, #0252ba); box-shadow: var(--darkreader-background-0263e0, #0252b9) 0px 0px 0px 4px inset; }

.css-16gz79l:hover, .css-16gz79l:active { background-image: initial; background-color: var(--darkreader-background-e1e3ea, #262a2b); }

.css-okah69 { color: var(--darkreader-text-ffffff, #e8e6e3); }

.css-aqchln { background-image: initial; background-color: var(--darkreader-background-f4f4f6, #1e2021); }

.css-c3wlc9 { border-bottom-color: var(--darkreader-border-cacdd8, #3d4245); }

.css-13hmnjo { background-image: initial; background-color: var(--darkreader-background-f4f4f6, #1e2021); border-top-color: var(--darkreader-border-cacdd8, #3d4245); border-right-color: var(--darkreader-border-cacdd8, #3d4245); border-bottom-color: var(--darkreader-border-cacdd8, #3d4245); border-left-color: var(--darkreader-border-cacdd8, #3d4245); }

.css-7e90uw { background-image: initial; background-color: var(--darkreader-background-f4f4f6, #1e2021); border-top-color: var(--darkreader-border-cacdd8, #3d4245); border-right-color: var(--darkreader-border-cacdd8, #3d4245); border-bottom-color: var(--darkreader-border-cacdd8, #3d4245); border-left-color: var(--darkreader-border-cacdd8, #3d4245); }

.css-1i4yaon { border-width: initial; border-style: none; border-color: initial; background-image: none; background-color: initial; outline-color: initial; color: var(--darkreader-text-121c2d, #d4d1cb); }

.css-1i4yaon:focus-visible { outline-color: var(--darkreader-border-0263e0, #0252ba); box-shadow: var(--darkreader-background-0263e0, #0252b9) 0px 0px 0px 4px inset; }

.css-18ale8y { box-shadow: var(--darkreader-background-121c2d33, rgba(25, 40, 64, 0.2)) 0px 16px 24px 0px; border-top-color: var(--darkreader-border-cacdd8, #3d4245); border-right-color: var(--darkreader-border-cacdd8, #3d4245); border-bottom-color: var(--darkreader-border-cacdd8, #3d4245); border-left-color: var(--darkreader-border-cacdd8, #3d4245); background-image: initial; background-color: var(--darkreader-background-f4f4f6, #1e2021); }

.css-r90ryp { list-style-image: initial; color: var(--darkreader-text-121c2d, #d4d1cb); box-shadow: var(--darkreader-background-121c2d33, rgba(25, 40, 64, 0.2)) 0px 16px 24px 0px; border-top-color: var(--darkreader-border-cacdd8, #3d4245); border-right-color: var(--darkreader-border-cacdd8, #3d4245); border-bottom-color: var(--darkreader-border-cacdd8, #3d4245); border-left-color: var(--darkreader-border-cacdd8, #3d4245); background-image: initial; background-color: var(--darkreader-background-f4f4f6, #1e2021); }

.css-1elvtb0 { border-width: initial; border-style: none; border-color: initial; outline-color: initial; background-image: initial; background-color: var(--darkreader-background-f4f4f6, #1e2021); color: var(--darkreader-text-0263e0, #62b4fe); }

.css-1elvtb0:focus-visible { color: var(--darkreader-text-0263e0, #62b4fe); background-image: initial; background-color: var(--darkreader-background-e1e3ea, #262a2b); }

.css-1elvtb0:hover { color: var(--darkreader-text-0263e0, #62b4fe); }

.css-1jpkjxk { border-width: initial; border-style: none; border-color: initial; outline-color: initial; color: var(--darkreader-text-121c2d, #d4d1cb); background-image: initial; background-color: var(--darkreader-background-f4f4f6, #1e2021); }

.css-1jpkjxk:focus-visible { color: var(--darkreader-text-0263e0, #62b4fe); background-image: initial; background-color: var(--darkreader-background-e1e3ea, #262a2b); }

.css-1jpkjxk:hover { color: var(--darkreader-text-0263e0, #62b4fe); }

.css-1btr3oe { color: var(--darkreader-text-121c2d, #d4d1cb); border-top-color: var(--darkreader-border-cacdd8, #3d4245); border-right-color: var(--darkreader-border-cacdd8, #3d4245); border-bottom-color: var(--darkreader-border-cacdd8, #3d4245); border-left-color: var(--darkreader-border-cacdd8, #3d4245); background-image: initial; background-color: var(--darkreader-background-f4f4f6, #1e2021); }

.css-1btr3oe:hover, .css-1btr3oe:active { background-color: var(--darkreader-background-e1e3ea, #262a2b); }

.css-1btr3oe:focus-visible { box-shadow: var(--darkreader-background-0263e0, #0252b9) 0px 0px 0px 4px inset; outline-color: initial; }

.css-yv8oa8 { color: var(--darkreader-text-121c2d, #d4d1cb); }

.css-5gl50z { color: var(--darkreader-text-606b85, #a0988b); }

.css-1yf7ow8 { border-top-color: var(--darkreader-border-cacdd8, #3d4245); border-right-color: var(--darkreader-border-cacdd8, #3d4245); border-bottom-color: var(--darkreader-border-cacdd8, #3d4245); border-left-color: var(--darkreader-border-cacdd8, #3d4245); background-image: initial; background-color: var(--darkreader-background-e1e3ea, #262a2b); color: var(--darkreader-text-121c2d, #d4d1cb); }

.css-1yf7ow8::before { background-image: initial; background-color: var(--darkreader-background-0263e0, #0252b9); }

.css-1yf7ow8:hover, .css-1yf7ow8:active { background-color: var(--darkreader-background-e1e3ea, #262a2b); }

.css-1yf7ow8:focus-visible { box-shadow: var(--darkreader-background-0263e0, #0252b9) 0px 0px 0px 4px inset; outline-color: initial; }

.css-kc0h3c { color: var(--darkreader-text-0263e0, #62b4fe); }

.css-wcl2mj { background-image: inherit; background-color: inherit; }

.css-l7nxj4 { color: var(--darkreader-text-ffffff, #e8e6e3); background-image: initial; background-color: var(--darkreader-background-d61f1f, #ad1919); }

.css-1b1d9y3 { background-image: initial; background-color: var(--darkreader-background-f4f4f6, #1e2021); border-top-color: var(--darkreader-border-cacdd8, #3d4245); border-right-color: var(--darkreader-border-cacdd8, #3d4245); border-bottom-color: var(--darkreader-border-cacdd8, #3d4245); border-left-color: var(--darkreader-border-cacdd8, #3d4245); color: var(--darkreader-text-606b85, #a0988b); }

.css-ujxcul { background-image: initial; background-color: var(--darkreader-background-ffffff, #181a1b); }

.css-mr3bn { background-image: initial; background-color: var(--darkreader-background-ffffff, #181a1b); color: var(--darkreader-text-121c2d, #d4d1cb); }

.css-b86gn6 { color: var(--darkreader-text-606b85, #a0988b); }

.css-1ezfngk { color: var(--darkreader-text-121c2d, #d4d1cb); }

.css-zfxu4v { background-image: initial; background-color: var(--darkreader-background-ffffff, #181a1b); border-top-color: var(--darkreader-border-cacdd8, #3d4245); border-right-color: var(--darkreader-border-cacdd8, #3d4245); border-bottom-color: var(--darkreader-border-cacdd8, #3d4245); border-left-color: var(--darkreader-border-cacdd8, #3d4245); }

.css-pank4p:focus-visible { outline-color: initial; box-shadow: 0px 0px 0px 4px inset; }

.css-pf71wj { border-width: initial; border-style: none; border-color: initial; background-image: none; background-color: initial; color: var(--darkreader-text-0263e0, #62b4fe); }

.css-pf71wj:focus-visible { outline-color: initial; }

.css-pf71wj:hover, .css-pf71wj:focus-visible { color: var(--darkreader-text-0263e0, #62b4fe); }

.css-orm066 { background-image: initial; background-color: var(--darkreader-background-0263e0, #0252b9); }

.css-gegxp1 { border-width: initial; border-style: none; border-color: initial; background-image: none; background-color: initial; color: var(--darkreader-text-606b85, #a0988b); }

.css-gegxp1:focus-visible { outline-color: initial; }

.css-gegxp1:hover, .css-gegxp1:focus-visible { color: var(--darkreader-text-606b85, #a0988b); }

.css-1mlmcul { background-image: initial; background-color: var(--darkreader-background-ffffff, #181a1b); }

.css-18yzi2q { background-image: initial; background-color: var(--darkreader-background-ffffffe6, rgba(24, 26, 27, 0.9)); border-top-color: var(--darkreader-border-0263e0, #0252ba); border-right-color: var(--darkreader-border-0263e0, #0252ba); border-bottom-color: var(--darkreader-border-0263e0, #0252ba); border-left-color: var(--darkreader-border-0263e0, #0252ba); }

.css-y53yll { color: var(--darkreader-text-0263e0, #62b4fe); }

.css-kycj4j { color: var(--darkreader-text-0263e0, #62b4fe); }

.css-c0bqi:focus-visible { box-shadow: var(--darkreader-background-0263e0b3, rgba(2, 82, 185, 0.7)) 0px 0px 0px 2px inset; }

.css-wo08kv { border-top-color: var(--darkreader-border-cacdd8, #3d4245); border-right-color: var(--darkreader-border-cacdd8, #3d4245); border-bottom-color: var(--darkreader-border-cacdd8, #3d4245); border-left-color: var(--darkreader-border-cacdd8, #3d4245); }

.css-seijq2 { color: var(--darkreader-text-121c2d, #d4d1cb); }

.css-73bjnc { color: var(--darkreader-text-121c2d, #d4d1cb); background-image: initial; background-color: var(--darkreader-background-f4f4f6, #1e2021); }

.css-1jfuie8:focus-visible { outline-color: initial; }

.css-oh58l4 { color: var(--darkreader-text-121c2d, #d4d1cb); background-image: initial; background-color: var(--darkreader-background-f4f4f6, #1e2021); box-shadow: none; }

.css-oh58l4 a { color: var(--darkreader-text-0263e0, #62b4fe); text-decoration-color: initial; }

.css-zb8iww { color: var(--darkreader-text-121c2d, #d4d1cb); }

.css-56yz3v { color: var(--darkreader-text-606b85, #a0988b); background-color: var(--darkreader-background-ffffff, #181a1b); }

.css-m23zik { color: var(--darkreader-text-121c2d, #d4d1cb); background-image: initial; background-color: transparent; }

.css-1k99f8h:focus-visible { outline-color: initial; }

.css-1rb95p0 { color: var(--darkreader-text-ffffff, #e8e6e3); background-image: initial; background-color: var(--darkreader-background-030b5d, #030c69); box-shadow: none; }

.css-1rb95p0 disabled { color: var(--darkreader-text-606b85, #a0988b); border-top-color: var(--darkreader-border-8891aa, #4d5356); border-right-color: var(--darkreader-border-8891aa, #4d5356); border-bottom-color: var(--darkreader-border-8891aa, #4d5356); border-left-color: var(--darkreader-border-8891aa, #4d5356); background-image: initial; background-color: var(--darkreader-background-ffffff, #181a1b); }

.css-1rb95p0 a { color: var(--darkreader-text-ffffff, #e8e6e3); text-decoration-color: initial; }

.css-u53hpv { color: var(--darkreader-text-ffffff, #e8e6e3); }

.css-u53hpv disabled { color: var(--darkreader-text-606b85, #a0988b); }

.css-1pucrl2 { outline-color: initial; background-image: initial; background-color: var(--darkreader-background-f4f4f6, #1e2021); color: var(--darkreader-text-121c2d, #d4d1cb); border-top-color: var(--darkreader-border-8891aa, #4d5356); border-right-color: var(--darkreader-border-8891aa, #4d5356); border-bottom-color: var(--darkreader-border-8891aa, #4d5356); border-left-color: var(--darkreader-border-8891aa, #4d5356); }

.css-1pucrl2:hover { background-image: linear-gradient(to top, var(--darkreader-background-f4f4f6, #1e2021), var(--darkreader-background-f4f4f6, #1e2021)); background-color: var(--darkreader-background-ffffff33, rgba(24, 26, 27, 0.2)); }

.css-1pucrl2:focus-visible { box-shadow: var(--darkreader-background-0263e0b3, rgba(2, 82, 185, 0.7)) 0px 0px 0px 4px; }

.css-1vuwusw { color: var(--darkreader-text-121c2d, #d4d1cb); }

.css-1rycupr { color: var(--darkreader-text-606b85, #a0988b); }

.css-19pbd09 { color: var(--darkreader-text-121c2d, #d4d1cb); }

.css-ru3m3q { color: var(--darkreader-text-121c2d, #d4d1cb); }

.css-upwdge { color: var(--darkreader-text-121c2d, #d4d1cb); }

.css-1bq9wcf { color: var(--darkreader-text-121c2d, #d4d1cb); }

.css-1cv2q8w { color: var(--darkreader-text-121c2d, #d4d1cb); background-image: initial; background-color: transparent; }

.css-1cv2q8w::-webkit-input-placeholder { color: var(--darkreader-text-606b85, #a0988b); }

.css-1cv2q8w::placeholder { color: var(--darkreader-text-606b85, #a0988b); }

.css-k7mvz9 { background-image: initial; background-color: var(--darkreader-background-ffffff, #181a1b); border-top-color: var(--darkreader-border-cacdd8, #3d4245); border-right-color: var(--darkreader-border-cacdd8, #3d4245); border-bottom-color: var(--darkreader-border-cacdd8, #3d4245); border-left-color: var(--darkreader-border-cacdd8, #3d4245); }

.css-1ljf6dy { background-image: initial; background-color: transparent; color: var(--darkreader-text-121c2d, #d4d1cb); }

.css-1ljf6dy::-webkit-input-placeholder { color: var(--darkreader-text-606b85, #a0988b); }

.css-1ljf6dy::placeholder { color: var(--darkreader-text-606b85, #a0988b); }

.css-1y76rut { border-width: 0px; border-style: initial; border-color: initial; outline-color: initial; background-image: initial; background-color: transparent; color: var(--darkreader-text-121c2d, #d4d1cb); }

.css-1y76rut::-webkit-input-placeholder { color: var(--darkreader-text-606b85, #a0988b); }

.css-1y76rut::placeholder { color: var(--darkreader-text-606b85, #a0988b); }

.css-1y76rut[aria-disabled="true"] { caret-color: transparent; background-color: var(--darkreader-background-f4f4f6, #1e2021); }

.css-1vb93vc:focus-visible { border-top-color: var(--darkreader-border-0263e0, #0252ba); border-right-color: var(--darkreader-border-0263e0, #0252ba); border-bottom-color: var(--darkreader-border-0263e0, #0252ba); border-left-color: var(--darkreader-border-0263e0, #0252ba); }

.css-1vb93vc[aria-disabled="true"] { background-image: inherit; background-color: inherit; border-width: 0px; border-style: initial; border-color: initial; }

.css-1vb93vc[aria-disabled="true"]:focus-visible { border-top-color: var(--darkreader-border-0263e0, #0252ba); border-right-color: var(--darkreader-border-0263e0, #0252ba); border-bottom-color: var(--darkreader-border-0263e0, #0252ba); border-left-color: var(--darkreader-border-0263e0, #0252ba); }

.css-ljhieb { color: inherit; }

.css-t19x3o { color: var(--darkreader-text-121c2d, #d4d1cb); }

.css-t19x3o hr { border-width: initial; border-style: none; border-color: initial; }

.css-t19x3o a { color: var(--darkreader-text-0263e0, #62b4fe); text-decoration-color: initial; }

.css-t19x3o a:hover { color: var(--darkreader-text-001489, #91bfff); }

.css-10yxkim { box-shadow: var(--darkreader-background-00000033, rgba(24, 26, 27, 0.2)) -2px 0px 10px 0px; background-image: initial; background-color: var(--darkreader-background-ffffff, #181a1b); color: var(--darkreader-text-121c2d, #d4d1cb); border-left-color: var(--darkreader-border-cacdd8, #3d4245); }

.css-17q07v6 { background-image: initial; background-color: var(--darkreader-background-cacdd8, #323638); }

.css-ltu2gl { border-top-color: var(--darkreader-border-cacdd8, #3d4245); border-right-color: var(--darkreader-border-cacdd8, #3d4245); border-bottom-color: var(--darkreader-border-cacdd8, #3d4245); border-left-color: var(--darkreader-border-cacdd8, #3d4245); background-image: initial; background-color: var(--darkreader-background-f4f4f6, #1e2021); }

.css-iyyzaj { border-top-color: var(--darkreader-border-cacdd8, #3d4245); border-right-color: var(--darkreader-border-cacdd8, #3d4245); border-bottom-color: var(--darkreader-border-cacdd8, #3d4245); border-left-color: var(--darkreader-border-cacdd8, #3d4245); }

.css-iyyzaj iframe { border-width: initial; border-style: none; border-color: initial; }

.css-1fk17e7 { background-image: initial; background-color: var(--darkreader-background-1f304c, #213452); color: var(--darkreader-text-ffffff, #e8e6e3); }

.css-17r2dey { background-image: initial; background-color: var(--darkreader-background-1f304c, #213452); }

.css-17r2dey:hover .Twilio-Badge-OuterCircle { background-image: initial; background-color: var(--darkreader-background-1f304c, #213452); }

.css-15olurl:hover { background-color: var(--darkreader-background-606b85, #4f586e); }

.css-15olurl:focus-visible { border-top-color: var(--darkreader-border-8891aa, #4d5356); border-right-color: var(--darkreader-border-8891aa, #4d5356); border-bottom-color: var(--darkreader-border-8891aa, #4d5356); border-left-color: var(--darkreader-border-8891aa, #4d5356); background-color: var(--darkreader-background-394762, #35425b); }

.css-ntb2h0 { color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-u20gii:hover { background-color: var(--darkreader-background-606b85, #4f586e); }

.css-u20gii:focus-visible { border-top-color: var(--darkreader-border-8891aa, #4d5356); border-right-color: var(--darkreader-border-8891aa, #4d5356); border-bottom-color: var(--darkreader-border-8891aa, #4d5356); border-left-color: var(--darkreader-border-8891aa, #4d5356); background-color: var(--darkreader-background-394762, #35425b); }

.css-1g29hmp { background-image: initial; background-color: var(--darkreader-background-0d131c, #182334); color: var(--darkreader-text-f4f4f6, #e2dfdb); border-top-color: var(--darkreader-border-394762, #4d6084); border-right-color: var(--darkreader-border-394762, #4d6084); border-bottom-color: var(--darkreader-border-394762, #4d6084); border-left-color: var(--darkreader-border-394762, #4d6084); }

.css-kheeej { background-image: initial; background-color: var(--darkreader-background-0d131c, #182334); color: var(--darkreader-text-f4f4f6, #e2dfdb); border-top-color: var(--darkreader-border-394762, #4d6084); border-right-color: var(--darkreader-border-394762, #4d6084); border-bottom-color: var(--darkreader-border-394762, #4d6084); border-left-color: var(--darkreader-border-394762, #4d6084); }

.css-1ulkeal { background-image: initial; background-color: var(--darkreader-background-304582, #2b3d73); border-top-color: var(--darkreader-border-394762, #4d6084); border-right-color: var(--darkreader-border-394762, #4d6084); border-bottom-color: var(--darkreader-border-394762, #4d6084); border-left-color: var(--darkreader-border-394762, #4d6084); }

.css-1ou9gw5 { outline-color: initial; background-image: inherit; background-color: inherit; color: var(--darkreader-text-ffffff, #e8e6e3); }

.css-1ou9gw5:focus-visible { outline-color: var(--darkreader-border-0263e0, #0252ba); box-shadow: var(--darkreader-background-0263e0, #0252b9) 0px 0px 0px 4px inset; }

.css-1ou9gw5:hover, .css-1ou9gw5:active { background-image: initial; background-color: var(--darkreader-background-1f304c, #213452); }

.css-19u55zn { background-image: initial; background-color: var(--darkreader-background-121c2d, #192840); }

.css-gk4hdm { border-bottom-color: var(--darkreader-border-394762, #4d6084); }

.css-g3j05l { background-image: initial; background-color: var(--darkreader-background-121c2d, #192840); border-top-color: var(--darkreader-border-394762, #4d6084); border-right-color: var(--darkreader-border-394762, #4d6084); border-bottom-color: var(--darkreader-border-394762, #4d6084); border-left-color: var(--darkreader-border-394762, #4d6084); }

.css-yhvbgp { background-image: initial; background-color: var(--darkreader-background-121c2d, #192840); border-top-color: var(--darkreader-border-394762, #4d6084); border-right-color: var(--darkreader-border-394762, #4d6084); border-bottom-color: var(--darkreader-border-394762, #4d6084); border-left-color: var(--darkreader-border-394762, #4d6084); }

.css-80gwq3 { border-width: initial; border-style: none; border-color: initial; background-image: none; background-color: initial; outline-color: initial; color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-80gwq3:focus-visible { outline-color: var(--darkreader-border-0263e0, #0252ba); box-shadow: var(--darkreader-background-0263e0, #0252b9) 0px 0px 0px 4px inset; }

.css-mrjvoc { box-shadow: var(--darkreader-background-00000080, rgba(24, 26, 27, 0.5)) 0px 16px 24px 4px; border-top-color: var(--darkreader-border-394762, #4d6084); border-right-color: var(--darkreader-border-394762, #4d6084); border-bottom-color: var(--darkreader-border-394762, #4d6084); border-left-color: var(--darkreader-border-394762, #4d6084); background-image: initial; background-color: var(--darkreader-background-121c2d, #192840); }

.css-19z1i07 { list-style-image: initial; color: var(--darkreader-text-f4f4f6, #e2dfdb); box-shadow: var(--darkreader-background-00000080, rgba(24, 26, 27, 0.5)) 0px 16px 24px 4px; border-top-color: var(--darkreader-border-394762, #4d6084); border-right-color: var(--darkreader-border-394762, #4d6084); border-bottom-color: var(--darkreader-border-394762, #4d6084); border-left-color: var(--darkreader-border-394762, #4d6084); background-image: initial; background-color: var(--darkreader-background-121c2d, #192840); }

.css-r4xetv { border-width: initial; border-style: none; border-color: initial; outline-color: initial; background-image: initial; background-color: var(--darkreader-background-121c2d, #192840); color: var(--darkreader-text-008cff, #50b4ff); }

.css-r4xetv:focus-visible { color: var(--darkreader-text-008cff, #50b4ff); background-image: initial; background-color: var(--darkreader-background-1f304c, #213452); }

.css-r4xetv:hover { color: var(--darkreader-text-008cff, #50b4ff); }

.css-q73nh2 { border-width: initial; border-style: none; border-color: initial; outline-color: initial; color: var(--darkreader-text-f4f4f6, #e2dfdb); background-image: initial; background-color: var(--darkreader-background-121c2d, #192840); }

.css-q73nh2:focus-visible { color: var(--darkreader-text-008cff, #50b4ff); background-image: initial; background-color: var(--darkreader-background-1f304c, #213452); }

.css-q73nh2:hover { color: var(--darkreader-text-008cff, #50b4ff); }

.css-h9kan6 { color: var(--darkreader-text-f4f4f6, #e2dfdb); border-top-color: var(--darkreader-border-394762, #4d6084); border-right-color: var(--darkreader-border-394762, #4d6084); border-bottom-color: var(--darkreader-border-394762, #4d6084); border-left-color: var(--darkreader-border-394762, #4d6084); background-image: initial; background-color: var(--darkreader-background-121c2d, #192840); }

.css-h9kan6:hover, .css-h9kan6:active { background-color: var(--darkreader-background-1f304c, #213452); }

.css-h9kan6:focus-visible { box-shadow: var(--darkreader-background-0263e0, #0252b9) 0px 0px 0px 4px inset; outline-color: initial; }

.css-19145cc { color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-1yl8gv1 { color: var(--darkreader-text-8891aa, #a8a095); }

.css-1epyp4w { border-top-color: var(--darkreader-border-394762, #4d6084); border-right-color: var(--darkreader-border-394762, #4d6084); border-bottom-color: var(--darkreader-border-394762, #4d6084); border-left-color: var(--darkreader-border-394762, #4d6084); background-image: initial; background-color: var(--darkreader-background-1f304c, #213452); color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-1epyp4w::before { background-image: initial; background-color: var(--darkreader-background-0263e0, #0252b9); }

.css-1epyp4w:hover, .css-1epyp4w:active { background-color: var(--darkreader-background-1f304c, #213452); }

.css-1epyp4w:focus-visible { box-shadow: var(--darkreader-background-0263e0, #0252b9) 0px 0px 0px 4px inset; outline-color: initial; }

.css-148zgv3 { color: var(--darkreader-text-008cff, #50b4ff); }

.css-e0wrci { color: var(--darkreader-text-f4f4f6, #e2dfdb); background-image: initial; background-color: var(--darkreader-background-d61f1f, #ad1919); }

.css-zfaopc { background-image: initial; background-color: var(--darkreader-background-121c2d, #192840); border-top-color: var(--darkreader-border-394762, #4d6084); border-right-color: var(--darkreader-border-394762, #4d6084); border-bottom-color: var(--darkreader-border-394762, #4d6084); border-left-color: var(--darkreader-border-394762, #4d6084); color: var(--darkreader-text-8891aa, #a8a095); }

.css-1tdh0tv { background-image: initial; background-color: var(--darkreader-background-0d131c, #182334); }

.css-1kedj31 { background-image: initial; background-color: var(--darkreader-background-0d131c, #182334); color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-1tmvv77 { color: var(--darkreader-text-8891aa, #a8a095); }

.css-12s0gzi { color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-4u1z7v { background-image: initial; background-color: var(--darkreader-background-0d131c, #182334); border-top-color: var(--darkreader-border-394762, #4d6084); border-right-color: var(--darkreader-border-394762, #4d6084); border-bottom-color: var(--darkreader-border-394762, #4d6084); border-left-color: var(--darkreader-border-394762, #4d6084); }

.css-14xsgxs { border-width: initial; border-style: none; border-color: initial; background-image: none; background-color: initial; color: var(--darkreader-text-008cff, #50b4ff); }

.css-14xsgxs:focus-visible { outline-color: initial; }

.css-14xsgxs:hover, .css-14xsgxs:focus-visible { color: var(--darkreader-text-008cff, #50b4ff); }

.css-jb8r90 { border-width: initial; border-style: none; border-color: initial; background-image: none; background-color: initial; color: var(--darkreader-text-8891aa, #a8a095); }

.css-jb8r90:focus-visible { outline-color: initial; }

.css-jb8r90:hover, .css-jb8r90:focus-visible { color: var(--darkreader-text-8891aa, #a8a095); }

.css-1c5n3gl { background-image: initial; background-color: var(--darkreader-background-0d131c, #182334); }

.css-7yd3qb { background-image: initial; background-color: var(--darkreader-background-000000e6, rgba(24, 26, 27, 0.9)); border-top-color: var(--darkreader-border-0263e0, #0252ba); border-right-color: var(--darkreader-border-0263e0, #0252ba); border-bottom-color: var(--darkreader-border-0263e0, #0252ba); border-left-color: var(--darkreader-border-0263e0, #0252ba); }

.css-ngs5e8 { color: var(--darkreader-text-008cff, #50b4ff); }

.css-kis6lo { color: var(--darkreader-text-008cff, #50b4ff); }

.css-hn8rbd:focus-visible { box-shadow: var(--darkreader-background-606b85, #4f586e) 0px 0px 0px 2px inset; }

.css-169p7rs { border-top-color: var(--darkreader-border-394762, #4d6084); border-right-color: var(--darkreader-border-394762, #4d6084); border-bottom-color: var(--darkreader-border-394762, #4d6084); border-left-color: var(--darkreader-border-394762, #4d6084); }

.css-1i5yw5s { color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-b64iu8 { color: var(--darkreader-text-f4f4f6, #e2dfdb); background-image: initial; background-color: var(--darkreader-background-121c2d, #192840); }

.css-oft7yw { color: var(--darkreader-text-f4f4f6, #e2dfdb); background-image: initial; background-color: var(--darkreader-background-121c2d, #192840); box-shadow: none; }

.css-oft7yw a { color: var(--darkreader-text-f4f4f6, #e2dfdb); text-decoration-color: initial; }

.css-a6kf6c { color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-5fsa8o { color: var(--darkreader-text-8891aa, #a8a095); background-color: var(--darkreader-background-0d131c, #182334); }

.css-1c5fhxm { color: var(--darkreader-text-f4f4f6, #e2dfdb); background-image: initial; background-color: transparent; }

.css-oxp0yy { color: var(--darkreader-text-0d131c, #dbd8d3); background-image: initial; background-color: var(--darkreader-background-cce4ff, #262a2b); box-shadow: none; }

.css-oxp0yy disabled { color: var(--darkreader-text-8891aa, #a8a095); border-top-color: var(--darkreader-border-606b85, #665f54); border-right-color: var(--darkreader-border-606b85, #665f54); border-bottom-color: var(--darkreader-border-606b85, #665f54); border-left-color: var(--darkreader-border-606b85, #665f54); background-image: initial; background-color: var(--darkreader-background-0d131c, #182334); }

.css-oxp0yy a { color: var(--darkreader-text-008cff, #50b4ff); text-decoration-color: initial; }

.css-15it28 { color: var(--darkreader-text-0d131c, #dbd8d3); }

.css-15it28 disabled { color: var(--darkreader-text-8891aa, #a8a095); }

.css-wtubo8 { outline-color: initial; background-image: initial; background-color: var(--darkreader-background-121c2d, #192840); color: var(--darkreader-text-f4f4f6, #e2dfdb); border-top-color: var(--darkreader-border-606b85, #665f54); border-right-color: var(--darkreader-border-606b85, #665f54); border-bottom-color: var(--darkreader-border-606b85, #665f54); border-left-color: var(--darkreader-border-606b85, #665f54); }

.css-wtubo8:hover { background-image: linear-gradient(to top, var(--darkreader-background-121c2d, #192840), var(--darkreader-background-121c2d, #192840)); background-color: var(--darkreader-background-ffffff33, rgba(24, 26, 27, 0.2)); }

.css-wtubo8:focus-visible { box-shadow: var(--darkreader-background-606b85, #4f586e) 0px 0px 0px 4px; }

.css-1pn4h4e { color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-1rxruf3 { color: var(--darkreader-text-8891aa, #a8a095); }

.css-70y463 { color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-4co0zz { color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-19x2ndg { color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-1sr3w3c { color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-ytdr7f { color: var(--darkreader-text-f4f4f6, #e2dfdb); background-image: initial; background-color: transparent; }

.css-ytdr7f::-webkit-input-placeholder { color: var(--darkreader-text-8891aa, #a8a095); }

.css-ytdr7f::placeholder { color: var(--darkreader-text-8891aa, #a8a095); }

.css-16jzvn2 { background-image: initial; background-color: var(--darkreader-background-0d131c, #182334); border-top-color: var(--darkreader-border-394762, #4d6084); border-right-color: var(--darkreader-border-394762, #4d6084); border-bottom-color: var(--darkreader-border-394762, #4d6084); border-left-color: var(--darkreader-border-394762, #4d6084); }

.css-1f0q014 { background-image: initial; background-color: transparent; color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-1f0q014::-webkit-input-placeholder { color: var(--darkreader-text-8891aa, #a8a095); }

.css-1f0q014::placeholder { color: var(--darkreader-text-8891aa, #a8a095); }

.css-1sd7410 { border-width: 0px; border-style: initial; border-color: initial; outline-color: initial; background-image: initial; background-color: transparent; color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-1sd7410::-webkit-input-placeholder { color: var(--darkreader-text-8891aa, #a8a095); }

.css-1sd7410::placeholder { color: var(--darkreader-text-8891aa, #a8a095); }

.css-1sd7410[aria-disabled="true"] { caret-color: transparent; background-color: var(--darkreader-background-121c2d, #192840); }

.css-1ygvvfa { color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-1ygvvfa hr { border-width: initial; border-style: none; border-color: initial; }

.css-1ygvvfa a { color: var(--darkreader-text-008cff, #50b4ff); text-decoration-color: initial; }

.css-1ygvvfa a:hover { color: var(--darkreader-text-99cdff, #85c9ff); }

.css-kucwgx { box-shadow: var(--darkreader-background-00000033, rgba(24, 26, 27, 0.2)) -2px 0px 10px 0px; background-image: initial; background-color: var(--darkreader-background-0d131c, #182334); color: var(--darkreader-text-f4f4f6, #e2dfdb); border-left-color: var(--darkreader-border-394762, #4d6084); }

.css-7n3f3x { background-image: initial; background-color: var(--darkreader-background-394762, #35425b); }

.css-f3f79 { border-top-color: var(--darkreader-border-394762, #4d6084); border-right-color: var(--darkreader-border-394762, #4d6084); border-bottom-color: var(--darkreader-border-394762, #4d6084); border-left-color: var(--darkreader-border-394762, #4d6084); background-image: initial; background-color: var(--darkreader-background-121c2d, #192840); }

.css-unfpnm { border-top-color: var(--darkreader-border-394762, #4d6084); border-right-color: var(--darkreader-border-394762, #4d6084); border-bottom-color: var(--darkreader-border-394762, #4d6084); border-left-color: var(--darkreader-border-394762, #4d6084); }

.css-unfpnm iframe { border-width: initial; border-style: none; border-color: initial; }

.css-1yhhvfi { background-image: initial; background-color: var(--darkreader-background-394762, #35425b); }

.css-k44lsu { outline-color: initial; background-image: inherit; background-color: inherit; color: var(--darkreader-text-ffffff, #e8e6e3); }

.css-k44lsu:focus-visible { outline-color: var(--darkreader-border-0263e0, #0252ba); box-shadow: var(--darkreader-background-0263e0, #0252b9) 0px 0px 0px 4px inset; }

.css-k44lsu:hover, .css-k44lsu:active { background-image: initial; background-color: var(--darkreader-background-1f304c, #213452); }

.css-1jx16ca { color: var(--darkreader-text-008cff, #50b4ff); }

.css-bw8kmb { background-image: initial; background-color: transparent; color: var(--darkreader-text-f4f4f6, #e2dfdb); box-shadow: var(--darkreader-background-606b85, #4f586e) 0px 0px 0px 4px; }

.css-bw8kmb::-webkit-input-placeholder { color: var(--darkreader-text-8891aa, #a8a095); }

.css-bw8kmb::placeholder { color: var(--darkreader-text-8891aa, #a8a095); }

.css-k3ddr0 > li { list-style-image: initial; }

.css-rxxlys { color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-u19nb4 { color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.css-1pwab91 { border-top-color: var(--darkreader-border-d61f1f, #9f1717); border-right-color: var(--darkreader-border-d61f1f, #9f1717); border-left-color: var(--darkreader-border-d61f1f, #9f1717); border-bottom: none; }

.css-69facm { color: var(--darkreader-text-eb5656, #ec5b5b); }

.css-p0xmhx { color: var(--darkreader-text-0d131c, #dbd8d3); background-image: initial; background-color: var(--darkreader-background-cce4ff, #262a2b); box-shadow: var(--darkreader-background-8891aa, #495066) 0px 0px 0px 4px; }

.css-p0xmhx disabled { color: var(--darkreader-text-8891aa, #a8a095); border-top-color: var(--darkreader-border-606b85, #665f54); border-right-color: var(--darkreader-border-606b85, #665f54); border-bottom-color: var(--darkreader-border-606b85, #665f54); border-left-color: var(--darkreader-border-606b85, #665f54); background-image: initial; background-color: var(--darkreader-background-0d131c, #182334); }

.css-p0xmhx a { color: var(--darkreader-text-008cff, #50b4ff); text-decoration-color: initial; }

.css-jrtuf9 { color: var(--darkreader-text-008cff, #50b4ff); }

.css-yblt7o { color: var(--darkreader-text-0263e0, #62b4fe); }

.css-ciblrg { color: var(--darkreader-text-8891aa, #a8a095); }

.css-wrqdlb .Twilio-ParticipantsCanvas { border-bottom-color: var(--darkreader-border-394762, #4d6084); box-shadow: var(--darkreader-background-000000, #181a1b) 0px -3px 10px -10px; }

.css-4a2a9l::before { border-top-color: var(--darkreader-border-394762, #4d6084); border-right-color: var(--darkreader-border-394762, #4d6084); border-bottom-color: var(--darkreader-border-394762, #4d6084); border-left-color: var(--darkreader-border-394762, #4d6084); }

.css-4a2a9l::after { border-top-color: var(--darkreader-border-0263e0, #0252ba); border-right-color: transparent; border-bottom-color: transparent; border-left-color: var(--darkreader-border-0263e0, #0252ba); }