@charset "utf-8";

.MuiButton-root { color: var(--darkreader-text-f4f4f6, #e2dfdb); }

.MuiButton-root:hover { text-decoration-color: initial; background-color: var(--darkreader-background-f4f4f60a, rgba(30, 32, 33, 0.04)); }

.MuiButton-root.Mui-disabled { color: var(--darkreader-text-00000042, rgba(232, 230, 227, 0.26)); }

@media (hover: none) {
  .MuiButton-root:hover { background-color: transparent; }
}

.MuiButton-root:hover.Mui-disabled { background-color: transparent; }

.MuiButton-textPrimary { color: var(--darkreader-text-0263e0, #62b4fe); }

.MuiButton-textPrimary:hover { background-color: var(--darkreader-background-0263e00a, rgba(2, 82, 185, 0.04)); }

@media (hover: none) {
  .MuiButton-textPrimary:hover { background-color: transparent; }
}

.MuiButton-textSecondary { color: var(--darkreader-text-0d131c, #dbd8d3); }

.MuiButton-textSecondary:hover { background-color: var(--darkreader-background-0d131c0a, rgba(24, 35, 52, 0.04)); }

@media (hover: none) {
  .MuiButton-textSecondary:hover { background-color: transparent; }
}

.MuiButton-outlined { border-top-color: var(--darkreader-border-0000003b, rgba(140, 130, 115, 0.23)); border-right-color: var(--darkreader-border-0000003b, rgba(140, 130, 115, 0.23)); border-bottom-color: var(--darkreader-border-0000003b, rgba(140, 130, 115, 0.23)); border-left-color: var(--darkreader-border-0000003b, rgba(140, 130, 115, 0.23)); }

.MuiButton-outlined.Mui-disabled { border-top-color: var(--darkreader-border-0000001f, rgba(140, 130, 115, 0.12)); border-right-color: var(--darkreader-border-0000001f, rgba(140, 130, 115, 0.12)); border-bottom-color: var(--darkreader-border-0000001f, rgba(140, 130, 115, 0.12)); border-left-color: var(--darkreader-border-0000001f, rgba(140, 130, 115, 0.12)); }

.MuiButton-outlinedPrimary { color: var(--darkreader-text-0263e0, #62b4fe); border-top-color: var(--darkreader-border-0263e080, rgba(2, 82, 186, 0.5)); border-right-color: var(--darkreader-border-0263e080, rgba(2, 82, 186, 0.5)); border-bottom-color: var(--darkreader-border-0263e080, rgba(2, 82, 186, 0.5)); border-left-color: var(--darkreader-border-0263e080, rgba(2, 82, 186, 0.5)); }

.MuiButton-outlinedPrimary:hover { border-top-color: var(--darkreader-border-0263e0, #0252ba); border-right-color: var(--darkreader-border-0263e0, #0252ba); border-bottom-color: var(--darkreader-border-0263e0, #0252ba); border-left-color: var(--darkreader-border-0263e0, #0252ba); background-color: var(--darkreader-background-0263e00a, rgba(2, 82, 185, 0.04)); }

@media (hover: none) {
  .MuiButton-outlinedPrimary:hover { background-color: transparent; }
}

.MuiButton-outlinedSecondary { color: var(--darkreader-text-0d131c, #dbd8d3); border-top-color: var(--darkreader-border-0d131c80, rgba(133, 124, 109, 0.5)); border-right-color: var(--darkreader-border-0d131c80, rgba(133, 124, 109, 0.5)); border-bottom-color: var(--darkreader-border-0d131c80, rgba(133, 124, 109, 0.5)); border-left-color: var(--darkreader-border-0d131c80, rgba(133, 124, 109, 0.5)); }

.MuiButton-outlinedSecondary:hover { border-top-color: var(--darkreader-border-0d131c, #857c6d); border-right-color: var(--darkreader-border-0d131c, #857c6d); border-bottom-color: var(--darkreader-border-0d131c, #857c6d); border-left-color: var(--darkreader-border-0d131c, #857c6d); background-color: var(--darkreader-background-0d131c0a, rgba(24, 35, 52, 0.04)); }

.MuiButton-outlinedSecondary.Mui-disabled { border-top-color: var(--darkreader-border-00000042, rgba(140, 130, 115, 0.26)); border-right-color: var(--darkreader-border-00000042, rgba(140, 130, 115, 0.26)); border-bottom-color: var(--darkreader-border-00000042, rgba(140, 130, 115, 0.26)); border-left-color: var(--darkreader-border-00000042, rgba(140, 130, 115, 0.26)); }

@media (hover: none) {
  .MuiButton-outlinedSecondary:hover { background-color: transparent; }
}

.MuiButton-contained { color: var(--darkreader-text-000000de, rgba(232, 230, 227, 0.87)); box-shadow: none; background-color: var(--darkreader-background-e0e0e0, #2a2d2f); }

.MuiButton-contained:hover { background-image: initial; box-shadow: none; background-color: var(--darkreader-background-d5d5d5, #303436); }

.MuiButton-contained.Mui-focusVisible { box-shadow: var(--darkreader-background-00000033, rgba(24, 26, 27, 0.2)) 0px 3px 5px -1px, var(--darkreader-background-00000024, rgba(24, 26, 27, 0.14)) 0px 6px 10px 0px, var(--darkreader-background-0000001f, rgba(24, 26, 27, 0.12)) 0px 1px 18px 0px; }

.MuiButton-contained:active { background-image: initial; background-color: var(--darkreader-background-ffffff4d, rgba(24, 26, 27, 0.3)); box-shadow: none; }

.MuiButton-contained.Mui-disabled { color: var(--darkreader-text-00000042, rgba(232, 230, 227, 0.26)); box-shadow: none; background-color: var(--darkreader-background-0000001f, rgba(24, 26, 27, 0.12)); }

.MuiButton-contained:focus-visible { border-top-color: var(--darkreader-border-0263e0, #0252ba); border-right-color: var(--darkreader-border-0263e0, #0252ba); border-bottom-color: var(--darkreader-border-0263e0, #0252ba); border-left-color: var(--darkreader-border-0263e0, #0252ba); box-shadow: var(--darkreader-background-0263e0, #0252b9) 0px 0px 0px 4px; }

@media (hover: none) {
  .MuiButton-contained:hover { box-shadow: var(--darkreader-background-00000033, rgba(24, 26, 27, 0.2)) 0px 3px 1px -2px, var(--darkreader-background-00000024, rgba(24, 26, 27, 0.14)) 0px 2px 2px 0px, var(--darkreader-background-0000001f, rgba(24, 26, 27, 0.12)) 0px 1px 5px 0px; background-color: var(--darkreader-background-e0e0e0, #2a2d2f); }
}

.MuiButton-contained:hover.Mui-disabled { background-color: var(--darkreader-background-0000001f, rgba(24, 26, 27, 0.12)); }

.MuiButton-containedPrimary { color: var(--darkreader-text-0d131c, #dbd8d3); background-image: initial; border-top-color: var(--darkreader-border-0263e0, #0252ba); border-right-color: var(--darkreader-border-0263e0, #0252ba); border-bottom-color: var(--darkreader-border-0263e0, #0252ba); border-left-color: var(--darkreader-border-0263e0, #0252ba); background-color: var(--darkreader-background-0263e0, #0252b9); }

.MuiButton-containedPrimary:hover { background-image: initial; border-top-color: var(--darkreader-border-99cdff, #004485); border-right-color: var(--darkreader-border-99cdff, #004485); border-bottom-color: var(--darkreader-border-99cdff, #004485); border-left-color: var(--darkreader-border-99cdff, #004485); background-color: var(--darkreader-background-cce4ff, #262a2b); }

.MuiButton-containedPrimary:focus-visible { border-top-color: var(--darkreader-border-0263e0, #0252ba); border-right-color: var(--darkreader-border-0263e0, #0252ba); border-bottom-color: var(--darkreader-border-0263e0, #0252ba); border-left-color: var(--darkreader-border-0263e0, #0252ba); background-image: initial; background-color: var(--darkreader-background-cce4ff, #262a2b); box-shadow: var(--darkreader-background-0263e0, #0252b9) 0px 0px 0px 4px; }

.MuiButton-containedPrimary:active { background-image: initial; background-color: var(--darkreader-background-99cdff, #003970); border-top-color: var(--darkreader-border-cce4ff, #003775); border-right-color: var(--darkreader-border-cce4ff, #003775); border-bottom-color: var(--darkreader-border-cce4ff, #003775); border-left-color: var(--darkreader-border-cce4ff, #003775); }

.MuiButton-containedPrimary.Mui-disabled { color: var(--darkreader-text-0d131c, #dbd8d3); background-image: initial; background-color: var(--darkreader-background-0263e0, #0252b9); border-top-color: var(--darkreader-border-0263e0, #0252ba); border-right-color: var(--darkreader-border-0263e0, #0252ba); border-bottom-color: var(--darkreader-border-0263e0, #0252ba); border-left-color: var(--darkreader-border-0263e0, #0252ba); }

@media (hover: none) {
  .MuiButton-containedPrimary:hover { background-color: var(--darkreader-background-0263e0, #0252b9); }
}

.MuiButton-containedSecondary { color: var(--darkreader-text-f4f4f6, #e2dfdb); background-image: initial; border-top-color: var(--darkreader-border-606b85, #665f54); border-right-color: var(--darkreader-border-606b85, #665f54); border-bottom-color: var(--darkreader-border-606b85, #665f54); border-left-color: var(--darkreader-border-606b85, #665f54); background-color: var(--darkreader-background-0d131c, #182334); }

.MuiButton-containedSecondary:hover { background-image: initial; border-top-color: var(--darkreader-border-99cdff, #004485); border-right-color: var(--darkreader-border-99cdff, #004485); border-bottom-color: var(--darkreader-border-99cdff, #004485); border-left-color: var(--darkreader-border-99cdff, #004485); background-color: var(--darkreader-background-121c2d, #192840); }

.MuiButton-containedSecondary:focus-visible { border-top-color: var(--darkreader-border-0263e0, #0252ba); border-right-color: var(--darkreader-border-0263e0, #0252ba); border-bottom-color: var(--darkreader-border-0263e0, #0252ba); border-left-color: var(--darkreader-border-0263e0, #0252ba); background-image: initial; background-color: var(--darkreader-background-121c2d, #192840); box-shadow: var(--darkreader-background-0263e0, #0252b9) 0px 0px 0px 4px; }

.MuiButton-containedSecondary:active { background-image: initial; background-color: var(--darkreader-background-1f304c, #213452); border-top-color: var(--darkreader-border-99cdff, #004485); border-right-color: var(--darkreader-border-99cdff, #004485); border-bottom-color: var(--darkreader-border-99cdff, #004485); border-left-color: var(--darkreader-border-99cdff, #004485); }

.MuiButton-containedSecondary.Mui-disabled { color: var(--darkreader-text-f4f4f6, #e2dfdb); background-image: initial; background-color: var(--darkreader-background-0d131c, #182334); border-top-color: var(--darkreader-border-0263e0, #0252ba); border-right-color: var(--darkreader-border-0263e0, #0252ba); border-bottom-color: var(--darkreader-border-0263e0, #0252ba); border-left-color: var(--darkreader-border-0263e0, #0252ba); }

@media (hover: none) {
  .MuiButton-containedSecondary:hover { background-color: var(--darkreader-background-0d131c, #182334); }
}

.MuiButton-disableElevation { box-shadow: none; }

.MuiButton-disableElevation:hover { box-shadow: none; }

.MuiButton-disableElevation.Mui-focusVisible { box-shadow: none; }

.MuiButton-disableElevation:active { box-shadow: none; }

.MuiButton-disableElevation.Mui-disabled { box-shadow: none; }

.MuiButton-colorInherit { color: inherit; border-color: currentcolor; }