@charset "utf-8";

.css-1q1cor0 { color: rgb(244, 244, 246); font-size: 0.875rem; font-family: "Inter var experimental", "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; line-height: 1.25rem; font-weight: 400; font-variant-numeric: tabular-nums; }

.css-ql39e { color: rgb(18, 28, 45); font-size: 0.875rem; font-family: "Inter var experimental", "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; line-height: 1.25rem; font-weight: 400; font-variant-numeric: tabular-nums; }

.css-1afihv8 { box-sizing: border-box; width: auto; appearance: none; background: none transparent; display: inline-block; border: none; outline: none; transition: background-color 100ms ease-in, box-shadow 100ms ease-in, color 100ms ease-in; font-family: inherit; font-weight: 600; text-decoration: none; position: relative; margin: 0px; cursor: pointer; padding: 0.5rem; border-radius: 50%; box-shadow: none; color: inherit !important; }

.css-1afihv8:hover { text-decoration: none; color: rgb(3, 11, 93); background-color: rgb(235, 244, 255); box-shadow: rgb(3, 11, 93) 0px 0px 0px 1px; }

.css-1afihv8:focus { text-decoration: none; box-shadow: rgba(2, 99, 224, 0.7) 0px 0px 0px 4px, rgb(136, 145, 170) 0px 0px 0px 1px; color: rgb(3, 11, 93); background-color: rgb(235, 244, 255); }

.css-1afihv8:active, .css-1afihv8[data-active="true"] { text-decoration: none; box-shadow: rgb(3, 11, 93) 0px 0px 0px 1px; color: rgb(3, 11, 93); background-color: rgb(204, 228, 255); }

.css-1afihv8:focus-visible { border-color: rgb(136, 145, 170); background-color: rgb(57, 71, 98); border-style: solid; border-width: 4px; }

.css-1afihv8:focus { background-color: transparent; }

.css-1afihv8:hover { background-color: rgb(136, 145, 170); box-shadow: none; }

.css-cfzbzn { box-sizing: border-box; display: flex; text-decoration: inherit; opacity: 1; -webkit-box-pack: center; justify-content: center; column-gap: 0.25rem; -webkit-box-align: center; align-items: center; }

.css-zeqpzn { box-sizing: border-box; line-height: 0; display: block; color: currentcolor; width: 1.25rem; height: 1.25rem; }

.css-19b4dk { box-sizing: border-box; background-color: rgb(255, 255, 255); border-style: solid; border-width: 1px; border-color: rgb(202, 205, 216); border-radius: 4px; box-shadow: rgba(18, 28, 45, 0.2) 0px 4px 16px 0px; max-width: 18.5rem; min-width: 12rem; z-index: 20; padding-top: 0.5rem; padding-bottom: 0.5rem; }

.css-19b4dk:focus { outline: none; }

.css-1hu7qxn { box-sizing: border-box; display: flex; -webkit-box-align: center; align-items: center; padding: 0.5rem 1.5rem; cursor: default; }

.css-ja3ipl { margin: 0px; padding: 0px; color: rgb(18, 28, 45); font-size: 1.25rem; line-height: 2rem; font-weight: 600; }

.css-1vco8kb { box-sizing: border-box; text-decoration: none; }

.css-7f013e { box-sizing: border-box; flex-shrink: 0; width: 1.25rem; height: 1.25rem; }

.css-1kzjb37 { box-sizing: border-box; line-height: 0; display: block; color: rgb(96, 107, 133); width: 1.25rem; height: 1.25rem; }

.css-x5puly { margin: 0px; padding: 0px 0px 0px 0.25rem; color: rgb(18, 28, 45); font-size: 0.875rem; line-height: 1.25rem; font-weight: 700; }

.css-roynbj { box-sizing: border-box; }

.css-1n4qplb { margin: 0px; padding: 0px; color: rgb(18, 28, 45); font-size: 0.875rem; line-height: 1.25rem; }

.css-1jws65s { box-sizing: border-box; margin-right: 0.75rem; display: flex; flex-shrink: 0; }

.css-1xssjck { box-sizing: border-box; width: auto; appearance: none; background: none; display: inline-block; border: 0px none; outline: none; transition: background-color 100ms ease-in, box-shadow 100ms ease-in, color 100ms ease-in; font-family: inherit; font-weight: inherit; text-decoration: none; position: relative; margin: 0px; cursor: pointer; color: inherit; padding: 0px; font-size: inherit; }

.css-1xssjck:hover { text-decoration: none; }

.css-1xssjck:focus { text-decoration: none; box-shadow: rgba(2, 99, 224, 0.7) 0px 0px 0px 4px; }

.css-1xssjck:active, .css-1xssjck[data-active="true"] { text-decoration: none; box-shadow: none; }

.css-beroof { box-sizing: border-box; display: flex; text-decoration: inherit; opacity: 1; column-gap: 0.25rem; -webkit-box-align: center; align-items: center; }

.css-vuifue { box-sizing: border-box; border-radius: 8px; border-color: rgb(255, 255, 255); border-style: solid; border-width: 1px; padding: 0.25rem; color: rgb(255, 255, 255); }

.css-dse1dn { box-sizing: border-box; margin-left: 0.25rem; }

.css-434353 { box-sizing: border-box; display: inline-block; vertical-align: middle; }

.css-1dfss4s { box-sizing: border-box; padding-left: 1.5rem; padding-top: 0.5rem; }

.css-gn6875 { margin: 0px 0px 0.75rem; padding: 0px; color: rgb(18, 28, 45); font-size: 1rem; line-height: 1.5rem; font-weight: 700; display: block; }

.css-13vumu1 { box-sizing: border-box; appearance: none; background: none; border: none; color: rgb(18, 28, 45); display: block; text-align: left; font-family: inherit; font-size: 0.875rem; font-weight: 400; line-height: 1.25rem; margin: 0px; outline: none; padding: 0.5rem 1.5rem; text-decoration: underline; width: 100%; }

.css-13vumu1:hover { cursor: pointer; }

.css-13vumu1:focus { color: rgb(2, 99, 224); }

.css-13vumu1:disabled, .css-13vumu1:disabled:focus, .css-13vumu1:disabled:hover, .css-13vumu1[aria-disabled="true"], .css-13vumu1[aria-disabled="true"]:focus, .css-13vumu1[aria-disabled="true"]:hover { color: rgb(174, 178, 193); cursor: not-allowed; }

.css-nqw6ee { margin: 0px; padding: 0px; color: rgb(18, 28, 45); font-size: 0.875rem; line-height: 1.25rem; font-weight: inherit; }

.css-1l9wp2l { margin: 0px; padding: 0px; color: rgb(18, 28, 45); font-size: 0.875rem; line-height: 1.25rem; font-weight: 700; }

.css-bskseo { box-sizing: border-box; display: flex; -webkit-box-align: center; align-items: center; background: inherit; border: none; padding: 0px; outline: none; cursor: pointer; }

.css-bskseo:focus-visible { box-shadow: rgba(2, 99, 224, 0.7) 0px 0px 0px 4px; }

.css-1jepj9x { box-sizing: border-box; line-height: 0; display: block; color: rgb(255, 255, 255); width: 1.25rem; height: 1.25rem; }

.css-b7xdpu { box-sizing: border-box; background-color: rgb(255, 255, 255); border-style: solid; border-width: 1px; border-color: rgb(225, 227, 234); border-radius: 4px; box-shadow: rgba(18, 28, 45, 0.1) 0px 2px 8px 0px; max-width: 31.5rem; z-index: 80; }

.css-b7xdpu:focus { outline: none; }

.css-12eislv { box-sizing: border-box; padding: 1.5rem 1.75rem; }

.css-4c5ydt { box-sizing: border-box; position: absolute; right: 8px; top: 8px; }

.css-1xcgclj { box-sizing: border-box; width: auto; appearance: none; background: none; display: inline-block; border: 0px none; outline: none; transition: background-color 100ms ease-in, box-shadow 100ms ease-in, color 100ms ease-in; font-family: inherit; font-weight: 600; text-decoration: none; position: relative; margin: 0px; cursor: pointer; color: rgb(96, 107, 133); padding: 0px; font-size: inherit; }

.css-1xcgclj:hover { text-decoration: none; color: rgb(18, 28, 45); }

.css-1xcgclj:focus { text-decoration: none; box-shadow: rgba(2, 99, 224, 0.7) 0px 0px 0px 4px; color: rgb(18, 28, 45); }

.css-1xcgclj:active, .css-1xcgclj[data-active="true"] { text-decoration: none; box-shadow: none; color: rgb(18, 28, 45); }

.css-oxge8y { box-sizing: border-box; line-height: 0; display: block; color: currentcolor; width: 1rem; height: 1rem; }

.css-1cbdvo6 { box-sizing: border-box; border: none; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -0.125rem; overflow: hidden; padding: 0px; position: absolute; text-transform: none; white-space: nowrap; width: 1px; }

.css-1xr43yq { box-sizing: border-box; margin: 1.25rem 0px; border-width: 0px 0px 1px; border-color: rgb(202, 205, 216); border-style: solid; width: auto; }

.css-122r2ri { box-sizing: border-box; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; display: flex; padding-left: 0.25rem; min-width: 0px; }

.css-myo6m2 { box-sizing: border-box; padding-left: 0.25rem; }

.css-vfh0qp { box-sizing: border-box; width: auto; appearance: none; background: none; display: inline-block; border: 0px none; outline: none; transition: none; font-family: inherit; font-weight: 600; text-decoration: none; position: relative; margin: 0px; cursor: pointer; color: rgb(2, 99, 224); text-align: left; padding: 0px; font-size: inherit; }

.css-vfh0qp:hover { text-decoration: underline; color: rgb(3, 11, 93); }

.css-vfh0qp:focus { text-decoration: underline; box-shadow: rgba(2, 99, 224, 0.7) 0px 0px 0px 4px; color: rgb(3, 11, 93); }

.css-vfh0qp:active, .css-vfh0qp[data-active="true"] { text-decoration: underline; box-shadow: none; color: rgb(6, 3, 58); }

.css-141i9qy { box-sizing: border-box; margin-right: 0.5rem; display: flex; }

.css-dauu7m { box-sizing: border-box; display: flex; column-gap: 0.25rem; margin-top: 0.5rem; color: rgb(141, 49, 24); font-size: 0.875rem; line-height: 1.25rem; }

.css-ba83yf { box-sizing: border-box; flex-shrink: 0; }

.css-1onn7bo { box-sizing: border-box; line-height: 0; display: block; color: rgb(141, 49, 24); width: 1.25rem; height: 1.25rem; }

.css-e9xkld { box-sizing: border-box; width: auto; appearance: none; background: none transparent; display: inline-block; border: none; outline: none; transition: background-color 100ms ease-in, box-shadow 100ms ease-in, color 100ms ease-in; font-family: inherit; font-weight: 600; text-decoration: none; position: relative; margin: 0px; cursor: pointer; padding: 0.5rem; border-radius: 50%; box-shadow: none; color: inherit !important; }

.css-e9xkld:hover { text-decoration: none; color: rgb(235, 244, 255); background-color: rgb(18, 28, 45); box-shadow: rgb(204, 228, 255) 0px 0px 0px 1px; }

.css-e9xkld:focus { text-decoration: none; box-shadow: rgb(96, 107, 133) 0px 0px 0px 4px, rgb(96, 107, 133) 0px 0px 0px 1px; color: rgb(235, 244, 255); background-color: rgb(18, 28, 45); }

.css-e9xkld:active, .css-e9xkld[data-active="true"] { text-decoration: none; box-shadow: rgb(204, 228, 255) 0px 0px 0px 1px; color: rgb(235, 244, 255); background-color: rgb(31, 48, 76); }

.css-e9xkld:focus-visible { border-color: rgb(136, 145, 170); background-color: rgb(57, 71, 98); border-style: solid; border-width: 4px; }

.css-e9xkld:focus { background-color: transparent; }

.css-e9xkld:hover { background-color: rgb(96, 107, 133); box-shadow: none; }

.css-1w25j6n { box-sizing: border-box; background-color: rgb(13, 19, 28); border-style: solid; border-width: 1px; border-color: rgb(57, 71, 98); border-radius: 4px; box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 16px 0px; max-width: 18.5rem; min-width: 12rem; z-index: 20; padding-top: 0.5rem; padding-bottom: 0.5rem; }

.css-1w25j6n:focus { outline: none; }

.css-lfwa5q { margin: 0px; padding: 0px; color: rgb(244, 244, 246); font-size: 1.25rem; line-height: 2rem; font-weight: 600; }

.css-1p9dz9n { box-sizing: border-box; line-height: 0; display: block; color: rgb(136, 145, 170); width: 1.25rem; height: 1.25rem; }

.css-2bu8zg { margin: 0px; padding: 0px 0px 0px 0.25rem; color: rgb(244, 244, 246); font-size: 0.875rem; line-height: 1.25rem; font-weight: 700; }

.css-1yshz1i { margin: 0px; padding: 0px; color: rgb(244, 244, 246); font-size: 0.875rem; line-height: 1.25rem; }

.css-fvceai { box-sizing: border-box; width: auto; appearance: none; background: none; display: inline-block; border: 0px none; outline: none; transition: background-color 100ms ease-in, box-shadow 100ms ease-in, color 100ms ease-in; font-family: inherit; font-weight: inherit; text-decoration: none; position: relative; margin: 0px; cursor: pointer; color: inherit; padding: 0px; font-size: inherit; }

.css-fvceai:hover { text-decoration: none; }

.css-fvceai:focus { text-decoration: none; box-shadow: rgb(96, 107, 133) 0px 0px 0px 4px; }

.css-fvceai:active, .css-fvceai[data-active="true"] { text-decoration: none; box-shadow: none; }

.css-251b4j { margin: 0px 0px 0.75rem; padding: 0px; color: rgb(244, 244, 246); font-size: 1rem; line-height: 1.5rem; font-weight: 700; display: block; }

.css-1bey7ld { box-sizing: border-box; appearance: none; background: none; border: none; color: rgb(244, 244, 246); display: block; text-align: left; font-family: inherit; font-size: 0.875rem; font-weight: 400; line-height: 1.25rem; margin: 0px; outline: none; padding: 0.5rem 1.5rem; text-decoration: underline; width: 100%; }

.css-1bey7ld:hover { cursor: pointer; }

.css-1bey7ld:focus { color: rgb(0, 140, 255); }

.css-1bey7ld:disabled, .css-1bey7ld:disabled:focus, .css-1bey7ld:disabled:hover, .css-1bey7ld[aria-disabled="true"], .css-1bey7ld[aria-disabled="true"]:focus, .css-1bey7ld[aria-disabled="true"]:hover { color: rgb(57, 71, 98); cursor: not-allowed; }

.css-ov9x5a { margin: 0px; padding: 0px; color: rgb(244, 244, 246); font-size: 0.875rem; line-height: 1.25rem; font-weight: inherit; }

.css-s3lb3j { box-sizing: border-box; appearance: none; background: none; border: none; color: rgb(244, 244, 246); display: block; text-align: left; font-family: inherit; font-size: 0.875rem; font-weight: 400; line-height: 1.25rem; margin: 0px; outline: none; padding: 0.5rem 1.5rem; text-decoration: none; width: 100%; }

.css-s3lb3j:hover { cursor: pointer; }

.css-s3lb3j:focus { color: rgb(0, 140, 255); }

.css-s3lb3j:disabled, .css-s3lb3j:disabled:focus, .css-s3lb3j:disabled:hover, .css-s3lb3j[aria-disabled="true"], .css-s3lb3j[aria-disabled="true"]:focus, .css-s3lb3j[aria-disabled="true"]:hover { color: rgb(57, 71, 98); cursor: not-allowed; }

.css-196d1gm { margin: 0px; padding: 0px; color: rgb(244, 244, 246); font-size: 0.875rem; line-height: 1.25rem; font-weight: 700; }

.css-15j0ub7 { box-sizing: border-box; display: flex; -webkit-box-align: center; align-items: center; background: inherit; border: none; padding: 0px; outline: none; cursor: pointer; }

.css-15j0ub7:focus-visible { box-shadow: rgb(96, 107, 133) 0px 0px 0px 4px; }

.css-1jqo1fi { box-sizing: border-box; background-color: rgb(13, 19, 28); border-style: solid; border-width: 1px; border-color: rgb(31, 48, 76); border-radius: 4px; box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px; max-width: 31.5rem; z-index: 80; }

.css-1jqo1fi:focus { outline: none; }

.css-sdno77 { box-sizing: border-box; width: auto; appearance: none; background: none; display: inline-block; border: 0px none; outline: none; transition: background-color 100ms ease-in, box-shadow 100ms ease-in, color 100ms ease-in; font-family: inherit; font-weight: 600; text-decoration: none; position: relative; margin: 0px; cursor: pointer; color: rgb(136, 145, 170); padding: 0px; font-size: inherit; }

.css-sdno77:hover { text-decoration: none; color: rgb(244, 244, 246); }

.css-sdno77:focus { text-decoration: none; box-shadow: rgb(96, 107, 133) 0px 0px 0px 4px; color: rgb(244, 244, 246); }

.css-sdno77:active, .css-sdno77[data-active="true"] { text-decoration: none; box-shadow: none; color: rgb(244, 244, 246); }

.css-w54h8d { box-sizing: border-box; margin: 1.25rem 0px; border-width: 0px 0px 1px; border-color: rgb(57, 71, 98); border-style: solid; width: auto; }

.css-1ovz2lk { box-sizing: border-box; width: auto; appearance: none; background: none; display: inline-block; border: 0px none; outline: none; transition: none; font-family: inherit; font-weight: 600; text-decoration: none; position: relative; margin: 0px; cursor: pointer; color: rgb(0, 140, 255); text-align: left; padding: 0px; font-size: inherit; }

.css-1ovz2lk:hover { text-decoration: underline; color: rgb(235, 244, 255); }

.css-1ovz2lk:focus { text-decoration: underline; box-shadow: rgb(96, 107, 133) 0px 0px 0px 4px; color: rgb(235, 244, 255); }

.css-1ovz2lk:active, .css-1ovz2lk[data-active="true"] { text-decoration: underline; box-shadow: none; color: rgb(255, 255, 255); }

.css-1l50l6r { box-sizing: border-box; display: flex; column-gap: 0.25rem; margin-top: 0.5rem; color: rgb(255, 179, 122); font-size: 0.875rem; line-height: 1.25rem; }

.css-16tkd9q { box-sizing: border-box; line-height: 0; display: block; color: rgb(255, 179, 122); width: 1.25rem; height: 1.25rem; }

.css-1dg0ftn { box-sizing: border-box; appearance: none; background: none; border: none; color: rgb(244, 244, 246); display: block; text-align: left; font-family: inherit; font-size: 0.875rem; font-weight: 400; line-height: 1.25rem; margin: 0px; outline: none; padding: 0.5rem 2rem; text-decoration: underline; width: 100%; }

.css-1dg0ftn:hover { cursor: pointer; }

.css-1dg0ftn:focus { color: rgb(0, 140, 255); }

.css-1dg0ftn:disabled, .css-1dg0ftn:disabled:focus, .css-1dg0ftn:disabled:hover, .css-1dg0ftn[aria-disabled="true"], .css-1dg0ftn[aria-disabled="true"]:focus, .css-1dg0ftn[aria-disabled="true"]:hover { color: rgb(57, 71, 98); cursor: not-allowed; }

.css-qgsxbf { box-sizing: border-box; font-weight: 600; }

.css-hgwhdo { box-sizing: border-box; line-height: 0; display: block; color: rgb(0, 140, 255); width: 1.25rem; height: 1.25rem; }

.css-7x3pzv { box-sizing: border-box; font-weight: inherit; }

.css-2wvjb5 { box-sizing: border-box; appearance: none; background: none; border: none; color: rgb(244, 244, 246); display: block; text-align: left; font-family: inherit; font-size: 0.875rem; font-weight: 400; line-height: 1.25rem; margin: 0px; outline: none; padding: 0.5rem 2rem; text-decoration: none; width: 100%; }

.css-2wvjb5:hover { cursor: pointer; }

.css-2wvjb5:focus { color: rgb(0, 140, 255); }

.css-2wvjb5:disabled, .css-2wvjb5:disabled:focus, .css-2wvjb5:disabled:hover, .css-2wvjb5[aria-disabled="true"], .css-2wvjb5[aria-disabled="true"]:focus, .css-2wvjb5[aria-disabled="true"]:hover { color: rgb(57, 71, 98); cursor: not-allowed; }

.css-4dfgn4 { box-sizing: border-box; background-color: rgb(18, 28, 45); border-color: rgb(57, 71, 98); border-radius: 4px; border-style: solid; border-width: 1px; box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 16px 0px; max-width: 18.5rem; padding: 0.25rem 0.5rem; z-index: 90; }

.css-4dfgn4:focus { outline: none; }

.css-g9v2ra { margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-size: 0.875rem; line-height: 1.25rem; }