@charset "utf-8";

.MuiIconButton-root { flex: 0 0 auto; color: inherit; width: 2.25rem; height: 2.25rem; padding: 12px; overflow: visible; font-size: 1.5rem; align-self: center; background: inherit; text-align: center; transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1); border-color: transparent; border-style: solid; border-width: 1px; border-radius: 50%; }

.MuiIconButton-root:hover { border-width: 1px; background-color: rgb(31, 48, 76); }

.MuiIconButton-root.Mui-disabled { color: inherit; opacity: 0.4; background-color: transparent; }

.MuiIconButton-root:focus-visible { background: rgb(31, 48, 76); border-color: rgb(2, 99, 224); border-width: 4px; }

.MuiIconButton-root:active { background: rgba(255, 255, 255, 0.3); }

.MuiIconButton-root:hover:focus-visible { outline: 0px; }

.MuiIconButton-root[aria-disabled="true"] { cursor: not-allowed; opacity: 0.4; }

.MuiIconButton-root[aria-disabled="true"]:hover:focus-visible { border-width: 4px; }

@media (hover: none) {
  .MuiIconButton-root:hover { background-color: transparent; }
}

.MuiIconButton-edgeStart { margin-left: -12px; }

.MuiIconButton-sizeSmall.MuiIconButton-edgeStart { margin-left: -3px; }

.MuiIconButton-edgeEnd { margin-right: -12px; }

.MuiIconButton-sizeSmall.MuiIconButton-edgeEnd { margin-right: -3px; }

.MuiIconButton-colorInherit { color: inherit; }

.MuiIconButton-colorPrimary { color: rgb(13, 19, 28); background: rgb(2, 99, 224); border-color: rgb(2, 99, 224); }

.MuiIconButton-colorPrimary:hover { border-color: rgb(153, 205, 255); background-color: rgb(204, 228, 255); }

.MuiIconButton-colorPrimary:focus-visible { background: rgb(204, 228, 255); border-color: rgb(2, 99, 224); border-width: 4px; }

.MuiIconButton-colorPrimary:active { background: rgb(153, 205, 255); border-color: rgb(204, 228, 255); }

.MuiIconButton-colorPrimary.Mui-disabled { color: rgb(13, 19, 28); opacity: 0.4; background: rgb(2, 99, 224); border-color: rgb(2, 99, 224); }

@media (hover: none) {
  .MuiIconButton-colorPrimary:hover { background-color: transparent; }
}

.MuiIconButton-colorSecondary { color: rgb(136, 145, 170); background: rgb(13, 19, 28); border-color: rgb(96, 107, 133); }

.MuiIconButton-colorSecondary:hover { background: rgba(13, 19, 28, 0.04); border-color: rgb(136, 145, 170); }

.MuiIconButton-colorSecondary:focus-visible { background: rgb(18, 28, 45); border-color: rgb(2, 99, 224); border-width: 4px; }

.MuiIconButton-colorSecondary:active { background: rgb(31, 48, 76); border-color: rgb(136, 145, 170); }

.MuiIconButton-colorSecondary.Mui-disabled { color: rgb(136, 145, 170); opacity: 0.4; background: rgb(13, 19, 28); border-color: rgb(96, 107, 133); }

@media (hover: none) {
  .MuiIconButton-colorSecondary:hover { background-color: transparent; }
}

.MuiIconButton-sizeSmall { width: 1.75rem; height: 1.75rem; padding: 3px; font-size: 1.125rem; }

.MuiIconButton-label { width: 100%; display: flex; align-items: inherit; justify-content: inherit; }