@charset "utf-8";

@keyframes xRD69nWStS3qNH3tlYQDJQ\=\= { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

._2vGJOiDMw-jn-Uyj2Cx0Vw\=\= { display: block; animation: xRD69nWStS3qNH3tlYQDJQ\=\= var(--speed) linear infinite; }

._2vGJOiDMw-jn-Uyj2Cx0Vw\=\= svg { display: block; }