@charset "utf-8";

.VjyIuuCPZlHnCXbvGX50tg\=\= { font-family: inherit; font-size: 14px; }

.ARYcU2fcnY9fMOKVBi3v2w\=\= { width: 3rem; background-color: rgb(236, 32, 36); height: 3px; border-radius: 1.5px; }