@charset "utf-8";

.QCwSKfDJVv5a4IIgS5Gr6Q\=\= { display: flex; flex-direction: row; justify-content: flex-end; align-items: center; }

._5Tsl6fENGOXj2hhRiIqUhQ\=\= { display: flex; background: rgb(50, 115, 220); color: white; height: 2rem; width: 2rem; justify-content: center; align-items: center; border-radius: 50%; margin-left: 0.5rem; font-size: 0.8rem; }